@use '../abstracts' as abs;

// -----------------------------------------------------------------------------
// This file contains styles related to the header of the site/application.
// For related components, see styles in the dropdown, nav, and social-icons components.
// -----------------------------------------------------------------------------

/**
* Header text mixin
* 1. Removes default link underline
**/
@mixin header-text {
  font-family: abs.$sans-serif-stack;
  font-size: 12px;
  text-decoration: none; /* 1 */
}

/**
* Header title mixin
* 1. Assumes title is always a link and underlines on hover
**/
@mixin header-title {
  @include header-text;

  font-weight: abs.$font-weight-heavy;
  letter-spacing: 0.1em;
  line-height: 13px;
  text-transform: uppercase;

  @include abs.md-up {
    font-size: 15px;
  }

  &:hover {
    text-decoration: underline; /* 1 */
  }
}

/**
* Header sub-title mixin
**/
@mixin header-subtitle {
  @include header-text;

  font-style: italic;
  line-height: 13px;
}

/**
* Styles for header. Header is not fixed/sticky by default,
* so custom styles are required to implement that.
* 1. Vertically center all header content (brand, nav, social icons) within
*    the header height.
**/
.header {
  min-height: 60px;
  width: 100%;

  .wrapper {
    align-items: center; /* 1 */
    min-height: 60px;
  }

  .container {
    align-items: center; /* 1 */
  }
}

/**
* Styles for header colors.
**/
.header--white {
  background-color: abs.$white;
  color: abs.$regal-blue;

  a {
    color: abs.$regal-blue;
  }
}

.header--white .nav__btn--dropdown[aria-expanded='true'] {
  color: abs.$umber-brown;
}

.header--blue {
  background-color: abs.$regal-blue;
  color: abs.$white;

  a,
  button {
    color: abs.$white;
  }

  svg g,
  svg path {
    fill: abs.$white;
  }
}

/**
* Styles for header branding section that includes title and subtitle.
**/
.header__brand {
  display: flex;
  flex-flow: column wrap;
  margin-right: auto;
  padding-left: 15px;
  place-content: center center;
  z-index: 3;

  @include abs.lg-up {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 65px;
  }
}

.header__brand-title {
  @include header-title;

  margin: 0 10px 5px 0;
  padding: 2px;

  @include abs.lg-up {
    margin: 0 10px 0 0;
  }
}

.header__brand-subtitle {
  @include header-subtitle;
}

/**
* Styles for header div that contain social icons component.
* 1. Adjust size of icons to be smaller than the default 24px svg
**/
.header__social-icons {
  display: none;

  @include abs.lg-up {
    align-self: center;
    display: block;
    line-height: 0;
    margin-left: auto;
    width: 135px;
  }

  .social-icons__icon svg {
    width: 16px; /* 1 */
  }
}
