@use '../abstracts' as abs;
@use 'sass:color';

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/**
* Defines mixins for button sizes and colors
**/
@mixin button-size($font-size, $line-height, $padding) {
  font-size: $font-size;
  line-height: $line-height;
  padding: $padding;
}

@mixin button-color($background-color, $border-color, $color) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

/**
* Defines base styles for buttons.
* 1. If icons are added, aligns them with the text
* 2. Removes default line height for links styled as buttons
* 3. Removes default link margin for links styled as buttons
**/
.btn {
  @include abs.transition-default;

  align-items: center; /* 1 */
  border-radius: abs.$border-radius-default;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-flex; /* 1 */
  font-family: abs.$sans-serif-stack;
  letter-spacing: 1.5px;
  line-height: inherit; /* 2 */
  margin-bottom: 0; /* 3 */
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    cursor: unset;
    opacity: 0.7;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/**
* Styles for buttons which take up the full width of their parent element.
**/
.btn--block {
  display: flex;
  width: 100%;
}

/**
* Styles for button sizes. Font sizes and padding are adjusted for each size.
**/
.btn--xs {
  @include button-size(10px, 16px, 3px);

  font-weight: abs.$font-weight-bold;

  .material-icon {
    @include abs.material-icon(18px, 18px);
  }
}

.btn--sm {
  @include button-size(10px, 16px, 8px 10px);

  font-weight: abs.$font-weight-bold;

  .material-icon {
    @include abs.material-icon(16px, 16px);
  }
}

.btn--md {
  @include button-size(12px, 15px, 13px 14px);

  .material-icon {
    @include abs.material-icon(20px, 15px);
  }
}

.btn--lg {
  @include button-size(14px, 18px, 18px);

  .material-icon {
    @include abs.material-icon(20px, 17px);
  }
}

/**
* Styles for button colors. Sets background, border and text color, and adjusts
* each on hover and/or focus.
**/
.btn--blue {
  @include button-color(abs.$yale-blue, abs.$yale-blue, abs.$white);

  &:hover,
  &:focus {
    background-color: color.adjust(abs.$yale-blue, $lightness: -10%);
    border-color: color.adjust(abs.$yale-blue, $lightness: -10%);
    color: abs.$white;
  }
}

.btn--light-blue {
  @include button-color(abs.$solitude-blue, abs.$regal-blue, abs.$regal-blue);

  &:hover,
  &:focus {
    background-color: color.adjust(abs.$solitude-blue, $lightness: -10%);
    color: abs.$regal-blue;
  }
}

.btn--navy {
  @include button-color(abs.$regal-blue, abs.$regal-blue, abs.$white);

  &:hover,
  &:focus {
    background-color: color.adjust(abs.$regal-blue, $lightness: 10%);
    border-color: color.adjust(abs.$regal-blue, $lightness: 10%);
    color: abs.$white;
  }
}

.btn--orange {
  @include button-color(abs.$umber-brown, abs.$umber-brown, abs.$white);

  &:hover,
  &:focus {
    background-color: color.adjust(abs.$umber-brown, $lightness: -10%);
    border-color: color.adjust(abs.$umber-brown, $lightness: -10%);
    color: abs.$desert-grey;
  }
}

.btn--transparent {
  @include button-color(transparent, abs.$dark-grey, abs.$mortar-grey);

  &:hover,
  &:focus {
    border-color: color.adjust(abs.$dark-grey, $lightness: -20%);
    color: color.adjust(abs.$mortar-grey, $lightness: -20%);
  }
}

.btn--gray {
  @include button-color(abs.$desert-grey, abs.$dark-grey, abs.$mortar-grey);

  &:hover,
  &:focus {
    background-color: color.adjust(abs.$desert-grey, $lightness: -5%);
    color: abs.$mortar-grey;
  }
}

.btn--dark-gray {
  @include button-color(abs.$dark-grey, abs.$dark-grey, abs.$black);

  &:hover,
  &:focus {
    background-color: color.adjust(abs.$dark-grey, $lightness: -5%);
    border-color: color.adjust(abs.$dark-grey, $lightness: -5%);
    color: abs.$black;
  }
}

.btn--black {
  @include button-color(abs.$black, abs.$white, abs.$white);

  &:hover,
  &:focus {
    background-color: color.adjust(abs.$black, $lightness: 20%);
    color: abs.$white;
  }
}
