@use '../abstracts' as abs;
@use 'sass:color';

// -----------------------------------------------------------------------------
// This file contains all styles related to form inputs
// -----------------------------------------------------------------------------

/**
* Styling for placeholder text
**/
::placeholder {
  color: abs.$mortar-grey;
  font-size: 18px;
}

/**
* Base styles for all inputs
* 1. Ensures that labels sit on top of inputs.
**/
input,
fieldset,
select,
textarea {
  @include abs.input-text;

  width: 100%; /* 1 */
}

label {
  @include abs.input-text;
}

fieldset {
  border: 0;
  padding: 0;

  legend {
    @include abs.input-text;

    font-size: 12px;
    font-weight: abs.$font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}

.input select,
.input input,
.input textarea {
  background-color: abs.$white;
  border: 1px solid abs.$night-grey;
  border-radius: 3px;
  padding: 6px;

  &:focus {
    @include abs.focus-default;
  }
}

/**
* Spacing between inputs and their labels to ensure focus styles don't
* overlap with the label
**/
.input label {
  margin-bottom: 5px;
  display: block;
}

.input__error {
  background-color: color.adjust(abs.$flame-orange, $lightness: 45%);
  border: 1px solid abs.$flame-orange;
  border-radius: 3px;
  color: abs.$night-grey;
  display: block;
  font-family: abs.$sans-serif-stack;
  font-size: 14px;
  font-style: italic;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.input__help-text {
  color: abs.$mortar-grey;
  font-size: 13px;
  font-style: italic;
  margin: 3px 0 0;
}

/**
* Styles for checkboxes
/**
* 1. Keeps text left-aligned when the label stretches multiple lines
* 2. Apply default focus styles
* 3. Moves the actual checkbox off the screen.
* 4. Expands the label so pseudo elements can be added.
* 5. Unchecked checkboxes.
* 6. Checked checkboxes.
* 7. Transition between checked and unchecked checkboxes.
* 8. Adds checkmark HTML entity.
* 9. Ensures appearance and width of checkbox is consistent.
**/

[type='checkbox'] {
  margin-right: 5px;
}

.checkbox + label {
  box-sizing: content-box;
  display: block; /* 1 */
}

.checkbox:focus + label::before { /* 2 */
  box-shadow: 0 0 0 2px abs.$white;
  outline: 2px solid abs.$regal-blue;
  outline-offset: 2px;
}

.checkbox:not(:checked),
.checkbox:checked { /* 3 */
  left: -9999px;
  position: absolute;
}

.checkbox:not(:checked) + label,
.checkbox:checked + label { /* 4 */
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}

.checkbox:not(:checked) + label::before,
.checkbox:checked + label::before { /* 5 */
  content: '';
  height: 16px;
  left: 0;
  margin-left: 3px;
  position: absolute;
  top: 0;
  width: 16px;
}

.checkbox:not(:checked) + label::after,
.checkbox:checked + label::after { /* 6 */
  @include abs.transition-default;

  content: '\2713'; /* 8 */
  font-family: monospace; /* 9 */
  font-size: 16px;
  height: 16px;
  left: 0;
  margin-left: 3px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 16px;
}

[type='checkbox']:not(:checked) + label::after { /* 7 */
  opacity: 0;
  transform: scale(0);
}

[type='checkbox']:checked + label::after { /* 7 */
  opacity: 1;
  transform: scale(1);
}

/**
* Styles for checkbox colors
**/
.checkbox--blue:not(:checked) + label::before,
.checkbox--blue:checked + label::before {
  background-color: abs.$white;
  border: 1px solid abs.$regal-blue;
}

.checkbox--blue:not(:checked) + label::after,
.checkbox--blue:checked + label::after {
  background-color: abs.$yale-blue;
  border: 1px solid abs.$yale-blue;
  color: abs.$white;
}

.checkbox--orange:not(:checked) + label::before,
.checkbox--orange:checked + label::before {
  background-color: abs.$white;
  border: 1px solid abs.$rust-red;
}

.checkbox--orange:not(:checked) + label::after,
.checkbox--orange:checked + label::after {
  background-color: abs.$umber-brown;
  border: 1px solid abs.$umber-brown;
  color: abs.$white;
}

.checkbox--white:not(:checked) + label,
.checkbox--white:checked + label {
  background-color: abs.$white;
}

.checkbox--white:not(:checked) + label::before,
.checkbox--white:checked + label::before {
  border: 1px solid abs.$night-grey;
}

.checkbox--white:not(:checked) + label::after,
.checkbox--white:checked + label::after {
  background-color: abs.$white;
  border: 1px solid abs.$night-grey;
  color: abs.$night-grey;
}

/**
* Styles for disabled checkboxes
**/
.checkbox:disabled + label::before {
  background-color: abs.$wan-white-grey;
  border: 1px solid abs.$mortar-grey;
}

.checkbox:disabled + label {
  color: abs.$mortar-grey;
  cursor: not-allowed;
}

/**
* Spacing styles for a group of checkboxes or radio buttons to 
* ensure focus styles don't overlap with inputs
**/
fieldset .input-group {
  margin-bottom: 7px;
}

/**
* Styles for radio buttons
* 1. Adjust size of select target
**/
.radiobutton {
  margin-right: 3px;
  transform: scale(1.2); /* 1 */
  vertical-align: middle;
  width: auto;

  &:focus {
    @include abs.focus-default;
  }
}

.radiobutton--blue {
  accent-color: abs.$yale-blue;
}

.radiobutton--orange {
  accent-color: abs.$umber-brown;
}

.radiobutton--grey {
  accent-color: abs.$night-grey;
}


