@use '../abstracts' as abs;

// ------------------------------------------------------
// This file contains all styles related to summary lists
// ------------------------------------------------------

/**
 * Base styles for summary lists.
 */
 .summary-list {
  display: flex;
  flex-direction: column;
  font-family: abs.$sans-serif-stack;
  width: 100%;
  border-top: 1px solid abs.$dark-grey;
}

/**
 * Styling for rows.
 */
.summary-list__row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid abs.$dark-grey;
}

/**
 * Styling for keys
 */
.summary-list__key {
  flex-basis: 30%;
  font-weight: abs.$font-weight-bold;
  overflow-wrap: break-word;
}

/**
 * Styling for values
 */
.summary-list__value {
  flex-basis: 70%;
  overflow-wrap: break-word;
}

