@use '../abstracts' as abs;
@use 'skip-link';

// -----------------------------------------------------------------------------
// This file contains all styles related to the table of contents component
// -----------------------------------------------------------------------------

/**
* Styles for table of contents navigation
* 1. Keeps table of contents visible on the page while scrolling
**/

.toc--sticky {
  position: sticky; /* 1 */
  top: 60px; /* 1 */
}

.toc {
  margin-bottom: 60px;
  min-height: 310px;
  padding: 36px 0;
  width: 100%;
}

.toc__list {
  margin: 0;
  padding: 0;
}

/**
* Styles for the table of contents skip link
**/
.toc__skip-link {
  @include skip-link.skip-link;
  @include skip-link.skip-link-position($left: 0, $top: 0);
}

.toc__skip-link--orange {
  @include skip-link.skip-link-color;
}

.toc__skip-link--blue {
  @include skip-link.skip-link-color($background: abs.$solitude-blue, $color: abs.$regal-blue);
}

.toc__skip-link--neutral {
  @include skip-link.skip-link-color($background: abs.$desert-grey, $color: abs.$night-grey);
}

/**
* Styles for the table of contents links, including the title
**/
.toc__title,
.toc__link-item {
  display: block;
  font-family: abs.$sans-serif-stack;
  line-height: 1.3;
  margin: 0;
  padding: 10px 25px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

/**
* Styles for table of contents title.
**/
.toc__title {
  font-size: 18px;
  font-weight: abs.$font-weight-bold;
}

.toc__link-item {
  font-size: 14px;
  font-weight: abs.$font-weight-heavy;
}

.toc__link-item :hover,
.toc__title :hover {
  cursor: pointer;
}

/**
* Styles to create three table of contents color options, including styles for active links.
**/
.toc--neutral {
  background-color: abs.$desert-grey;
}

.toc--neutral .toc__link-item,
.toc--neutral .toc__title {
  color: abs.$night-grey;
  border: 1px solid abs.$desert-grey;
}

.toc--neutral .active {
  background-color: abs.$umber-brown;
  color: abs.$desert-grey;
}

.toc--blue {
  background-color: abs.$solitude-blue;
}

.toc--blue .toc__link-item,
.toc--blue .toc__title {
  color: abs.$regal-blue;
  border: 1px solid abs.$solitude-blue;
}

.toc--blue .active {
  background-color: abs.$midnight-blue;
  color: abs.$solitude-blue;
}

.toc--orange {
  background-color: abs.$umber-brown;
}

.toc--orange .toc__link-item,
.toc--orange .toc__title {
  color: abs.$desert-grey;
  border: 1px solid abs.$umber-brown;
}

.toc--orange .active {
  background-color: abs.$desert-grey;
  color: abs.$umber-brown;
}

/**
* Styles for inset table of contents focus styles to work with all background colors
* 1. Add additional padding to link items when the TOC has a title.
**/
.toc__title:focus,
.toc__link-item:focus {
  @include abs.focus-inset;

  border-color: abs.$regal-blue;
}

.toc__title + div .toc__link-item,
.toc__title + ul .toc__link-item {
  padding-left: 40px; /* 1 */
}
